.router-active{
	color:#7fbb00 !important;background: white !important;
}
.topWrap{
font-size: 16px;
width: 100%;
height:158px;
  background:linear-gradient(to right, #b2df00, #60af00);
}
/*登录注册*/
.loginAndSignupWrap{
	width: 100%;height: 40px;background:rgb(244,244,244);box-shadow: 1px 2px 5px gray;

}
.noLogin,.yesLogin{
	width: 1024px;margin: 0 auto;
}

.noLogin a,.yesLogin a{
height: 40px;line-height: 40px;width: 200px;text-align: center;float: right;margin-left: 10px;font-size: 12px;text-decoration: none;color:black;text-shadow: 1px 1px 1px white;cursor: pointer;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;
}
.yesLogin  a:nth-child(2){
	color: #bacc40;
}
.yesLogin  a:nth-child(2):before{
	content: "您好, ";color: black;
}

.noLogin a:hover,.yesLogin a:hover{
	color:#4ebb00;
}
/*Logo和间距*/
.logo{
width: 1024px;
height: 56px;
margin: 0 auto;
position: relative;
 img{
width: 100px;
position: absolute;
bottom:-35px;
left: -110px;
 }
 span{
 	position:absolute;
 	bottom:-50px;
 	left: -110px;
 	font-size: 12px;
 	width: 100px;
 	text-align:center;
 	font-style: italic
 }
}

/*路由主导航*/
.vlinkWrap{
width: 1024px;
margin: 0 auto;
display: flex;
}
.vlinkWrap a{
	color:white;
	display: inline-block;
	flex:1;
	text-align: center;
	height: 62px;
	line-height: 62px;
	text-decoration: none;
	background: linear-gradient(to bottom,#cddb00,#4ebb00);
	border-right: 1px solid #4a9700;
	text-shadow: 1px 1px 1px gray;
    border-left: 1px solid #628400;
    border-right: 1px solid #b7ce00;
}
.vlinkWrap a:hover{
	text-decoration: underline;color:white
}
.vlinkWrap a:first-child{
border-radius: 10px 0 0 0;
border-left: none;
}
.vlinkWrap a:last-child{
border-radius: 0 10px 0 0;
border-right: none;
}
